In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [55]:
x=[3.44,3.81,3.51,3.78,4.22]
y=[2.53,2.76,2.58,2.74,3.01]
z=[1992,1993,1994,1995,1996]
x1=np.array(x)
x2=np.array(y)

In [3]:
liste=[[x],[y],[z]]
data=np.array(liste)

In [4]:
data

array([[[   3.44,    3.81,    3.51,    3.78,    4.22]],

       [[   2.53,    2.76,    2.58,    2.74,    3.01]],

       [[1992.  , 1993.  , 1994.  , 1995.  , 1996.  ]]])

In [5]:
columns=["Özel Harcamalar","Özel Tüketim","Yıllar"]

In [13]:
veri=pd.DataFrame({"Özel Harcamalar" :[3.44,3.81,3.51,3.78,4.22],
"Özel Tüketim":[2.53,2.76,2.58,2.74,3.01],
"Yıllar":[1992,1993,1994,1995,1996]})

In [14]:
print(veri)

   Özel Harcamalar  Özel Tüketim  Yıllar
0             3.44          2.53    1992
1             3.81          2.76    1993
2             3.51          2.58    1994
3             3.78          2.74    1995
4             4.22          3.01    1996

In [15]:
veri.shape

(5, 3)

In [18]:
veri.isnull().sum() # Eksik verimiz varmı kontrol ediyoruz.

Özel Harcamalar    0
Özel Tüketim       0
Yıllar             0
dtype: int64

In [65]:
N=x1.size
XTOPLAM=sum(x1)
YTOPLAM=sum(x2)
print(N) # TOPLAM DEĞİŞKEN SAYISI
print(XTOPLAM) # TOPLAM X SAYISI
print(YTOPLAM) # TOPLAM Y SAYISI

5
18.759999999999998
13.62

In [66]:
XORT=XTOPLAM/N # ORTALAMA X
YORT=YTOPLAM/N # ORTALAMA Y
print(XORT)
print(YORT)

3.752
2.7239999999999998

# ORTALAMA FARKLAR İLE B0 B1 KATSAYI BULMA

In [70]:
X=x1-XORT
Y=x2-YORT
print(X) 
print(Y)
# KÜÇÜK X VE Y LERİ BULDUK.

[-0.312  0.058 -0.242  0.028  0.468]
[-0.194  0.036 -0.144  0.016  0.286]

In [88]:
XY=X*Y
XYTOPLAM= sum(XY)
print(XYTOPLAM) # TOPLAM XY
print(XY) #XY ÇARPIMLARI

0.2317599999999999
[0.060528 0.002088 0.034848 0.000448 0.133848]

In [89]:
X2= X**2
Y2= Y**2
X2TOPLAM=sum(X2) # X KARELERİN TOPLAMI
Y2TOPLAM=sum(Y2) # Y KARELERİN TOPLAMI
print(X2) # X1 LERİN KARESİ
print(Y2) # X2 LERİN KARESİ
print(X2TOPLAM)
print(Y2TOPLAM)

[0.097344 0.003364 0.058564 0.000784 0.219024]
[0.037636 0.001296 0.020736 0.000256 0.081796]
0.37907999999999986
0.14171999999999993

In [90]:
B1=XYTOPLAM/X2TOPLAM
print(B1)

0.611374907671204

In [92]:
B0=YORT-(B1*XORT)
print(B0)

0.43012134641764277

# Y = 0,43 + 0,61X  Regresyon doğrumuz.

# B0: harcanabilir gelir 0 olduğunda beklenen ortalama özel tüketim harcamaları miktarını vermektedir.
# b1:0.6115 Değeri Marjinal Tüketim Eğilimini  göstermektedir. Özel harcanabilir gelir 1 birim arttığında özel tüketim harcamalarının ortalama 0.6115 birim artması beklenmektedir.